stm32g0b1_threadx-fp/src/main/resources/.widget.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://developer.microej.com" xmlns="https://developer.microej.com"
	elementFormDefault="qualified">

	<!-- Generated file - DO NOT EDIT -->
	<xs:element name="frontpanel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="device">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							
						</xs:choice>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="skin" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>